#furne-logo {
    width: 100px;
    height: auto;
}

#furne-logo-footer {
    width: 40%;
}

.ms-n5 {
    margin-left: -30px;
}

.custom-margin-top {
    margin-top: 10%;
}

.custom-margin-bottom {
    margin-bottom: 10%;
}

.custom-margin-top-1 {
    margin-top: 5%;
}

.custom-margin-bottom-1 {
    margin-bottom: 5%;
}


.divider {
    display: block;
    width: 150px;
    height: 1px;
    background: #222;
    margin: 1% auto;
}

.divider-1 {
    display: block;
    width: 150px;
    height: 1px;
    background: #222;
    margin-top: 5%;
    margin-bottom: 5%;
}

.divider-light {
    display: block;
    width: 125px;
    height: 1px;
    background: #A1A1A1;
    margin: 5% 0;
}

.small-divider {
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #222;
    margin: 3% auto;
}

.divider-white {
    display: block;
    width: 90px;
    height: 1px;
    background: #fff;
}

.custom-font-size-1 {
    font-size: 0.7rem;
    font-weight: 500;
}

.content {
    position: absolute;
    left: 50%;
    top: 80%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.custom-nav-bg-color {
    background-color: #b17447 !important;
}

/* Paddings */

.custom-padding-left {
    padding-left: 10%;
}

.custom-padding-right {
    padding-right: 10%;
}

/* .custom-padding-left-1 {
    padding-left: 15%;
}

.custom-padding-right-1 {
    padding-right: 15%;
} */

/* Colors */

.shop-custom-nav-bg-color {
    background-color: #EFEFEF !important;
}

.shop-custom-jumbotron-bg-color {
    background-color: #e7e1d8 !important;   
}

.custom-range::-webkit-slider-thumb {
    background: #222;
  }
  
.custom-range::-moz-range-thumb {
    background: #222;
}

.custom-range::-ms-thumb {
    background: #222;
}